@charset "UTF-8";

h1 {
    color: #00A0A0;
    font-size: 200%;
    font-family: serif;
    margin-bottom: 20px; /* 下側(したがわ)に20pxの外側(そとがわ)余白(よはく)を作る */
}

/* 段落(だんらく)の設定(せってい) */
p {
    font-weight: bold;   /* 文字(moji)の太(ふと)さを太字(ふとじ)にする */
}

a {
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    transition: 0.3s;            /* 色(いろ)の変化(へんか)を0.3秒(びょう)かけてフワッとさせる */
}

/* マウスが乗(の)ったときの設定(せってい) */
a:hover {
    background-color: #0056b3;   /* 背景色(はいけいしょく)を少し濃(こ)い青(あお)に変(か)える */
}
