@charset "UTF-8";

h1 {
    color: #00A0A0;
    font-size: 200%;
    font-family: serif;
    margin-bottom: 20px; /* 下側(したがわ)に20pxの外側(そとがわ)余白(よはく)を作る */
}

/* 段落(だんらく)の設定(せってい) */
p {
    font-weight: bold;   /* 文字(moji)の太(ふと)さを太字(ふとじ)にする */
}

a {
    text-decoration: none;
    color: #ffffff;              /* 文字(moji)の色(いろ)を白(しろ)にする */
    background-color: #007bff;   /* 背景色(はいけいしょく)を濃(こ)い青(あお)にする */
    padding: 10px 20px;          /* 内側(うちがわ)の余白(よはく)を「上下10px、左右20px」にする */
    border-radius: 4px;          /* 四(よ)すみを4px丸(まる)くする */
    display: inline-block;       /* 【重要(じゅうよう)】aタグに正しく余白(よはく)を当てるための魔法(まほう)の命令(めいれい) */
}


